  *{
    margin: 0;
    padding: 0;
}  
body::after{
    content: "";
    background: url('edukation/futa\ 2.jpg ') fixed;
    background-repeat: no-repeat;
    background-size: cover;
     /* backface-visibility: hidden; */
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0px;
    right: 0;
    position: absolute;
    z-index: -1;
     
}
@media (min-width:993px){.h3-hide-large{display:none!important}}
@media (max-width:992px) and (min-width:601px){.h3-hide-medium{display:none!important}}
@media screen and (max-width:600px){.h3-topnav a{display:block}.h3-navbar li:not(.h3-opennav)
{float:none;width:100%!important}.h3-navbar li.h3-right{float:none!important}}	
@media screen and (max-width:600px){.h3-topnav .h3-dropdown-hover .h3-dropdown-hova .h3-dropdown-content,.h3-navbar .h3-dropdown-click .h3-dropdown-content,.h3-navbar .h3-dropdown-hover .h3-dropdown-hova .h3-dropdown-content{position:relative}}	
@media screen and (max-width:600px){.h3-topnav,.h3-navbar{text-align:center}}
@media (max-width:600px){.h3-hide-small{display:none!important}}
@media (max-width:992px) and (min-width:601px){.h3-hide-medium{display:none!important}}
@media (min-width:993px){.h3-hide-large{display:none!important}}
@media screen and (max-width:600px) {
    .main{
        width:90%;       
    }
    #casorlogo{
        width: 35%;
    }
    .h1styln{
        font-size: 20px;
        border-radius: 0px 0px 0px 30px;
    }
    /* .nav-top-show{
        margin-top: 240px;
        margin-bottom: -230px;
        width:100%;
        font-size: 12px;
    } */
}
.h3-medium{font-size:15px!important}.h3-large{font-size:18px!important}
.h3-hide{display:none!important}.h3-show-block,.h3-show{display:block!important}.h3-show-inline-block{display:inline-block!important}
.h3-navbar{list-style-type:none;margin:0;padding:0;overflow:hidden}
.h3-navbar li{float:right}.h3-navbar li a,.h3-navitem,.h3-navbar li .h3-btn,.h3-navbar li .h3-input{display:block;padding:2px 5px;}.h3-navbar li .h3-btn,.h3-navbar li .h3-input{border:none;outline:none;width:100%}
.h3-navbar li a:hover{color:#000;background-color:#ccc}
.h3-navbar .h3-dropdown-hover .h3-dropdown-hova, .h3-navbar .h3-dropdown-click{position:static}
.h3-navbar .h3-dropdown-hover:hover,.h3-navbar .h3-dropdown-hover:first-child,.h3-navbar .h3-dropdown-click:hover{background-color:#ccc;color:#000}
.h3-navbar a,.h3-topnav a,.h3-sidenav a,.h3-dropdown-content a,.h3-accordion-content a,.h3-dropnav a{text-decoration:none!important}
.h3-navbar .h3-opennav.h3-right{float:right!important}.h3-topnav{padding:8px 8px}
.h3-topnav a{padding:0 8px;border-bottom:3px solid transparent;-webkit-transition:border-bottom .25s;transition:border-bottom .25s}
.h3-topnav a:hover{border-bottom:3px solid #fff}.h3-topnav .h3-dropdown-hover a{border-bottom:0}
.h3-opennav,.h3-closenav{color:inherit}.h3-opennav:hover,.h3-closenav:hover{cursor:pointer;opacity:0.8}
.h3-btn,.h3-btn-floating,.h3-dropnav a,.h3-btn-floating-large,.h3-btn-block, .h3-navbar a,.h3-sidenav a,.h3-pagination li a,.h3-hoverable tbody tr,.h3-hoverable li,
.h3-accordion-content a,.h3-dropdown-content a,.h3-dropdown-click:hover,.h3-dropdown-hover:hover .h3-dropdown-hova:hover,.h3-opennav,.h3-closenav,.h3-closebtn,*[class*="h3-hover-"]
{-webkit-transition:background-color .25s,color .15s,box-shadow .25s,opacity 0.25s,filter 0.25s,border 0.15s;transition:background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s}
.h3-navbar{
    font-weight:none;
}
.h3-margin-left{margin-left: 0px;float: right;margin-top: -20px;}
.h3-opennav{float: none!important;}
.h3-btn,.h3-btn-floating,.h3-btn-floating-large,.h3-closenav,.h3-opennav,.h3-btn-block{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.nav-top-show{
    background-color: darkgray;
    width:30%;
}
/* .dclor{
    background-color:rgba(252, 202, 127, 0.61);
    color: #fff;
    border-radius: 8px;
    padding: 3px;
} */