@media (max-width:600px){
    .maque{margin-top: 150px;font-size: 15px;}
    .h3-bold{font-size: 12px;font-weight: bolder;}
    .nav-top-show{
        margin-top: 240px;
        margin-bottom: -230px;
        width:100%;
        font-size: 12px;
    }
    .h3-main{margin-top: 200px;}
    .dclor{
    background-color: #cccf;
    border-radius: 5px;
    padding: 5px;
    border-top: 3px solid darkred;
    border-radius: 8px;
    padding: 3px;
    width: 20px;
    font-weight: bold;
    display: inline;
    text-align: center;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.22),
    0 18px 45px 0 rgba(0,0,0,0.21)!important; */
}
/* .h3-twothird1{width: 100%;} */
.h3-line{margin-top: -7px;}
}
.nav-top-show{
    background-color: darkgray;
}
.h3-twothird{max-width: 60%;}
/* .h3-main1{} */
.h3-third1{float:left;width:100%}
.toobld:hover{
color: darkred;
font-weight: bold;
padding: 5px;
}